[core]
	excludesfile = /Users/tom/.gitignore
[user]
    name = Thomas Daley
    email = tomdaley92@gmail.com
    signingKey = 53590CD5B7BDC149
[commit]
    gpgsign = true
[gpg]
    program = /opt/homebrew/bin/gpg
[credential]
    helper = store
[alias]
	prune-local-branches = "!git fetch origin --prune && git branch -vv | awk '/: gone]/{print $1}' | xargs -r git branch -d"
